body {
	height: 100vh;
}
.text {
	font-size: 52px;
}
.container {
	background-image: url('../images/cage.jpg');
	background-size: cover;
	min-height: 100%;
	width: 100%;
}
.choice {
	min-width: 350px;
}
#newGame {
	display: none;
}
#timer {
	height: 150px;
	font-size: 26px;
}
.lowTime {
	color: red;
}
.toprow {
	margin-top: 100px;
}
.jumbotron {
	min-height: 400px;
}